@using Microsoft.Extensions.Localization
@inject NavigationManager NavigationManager
@inject IStringLocalizer<BlazorApp1.Resources.SharedResource> L
@rendermode InteractiveServer

<span class="ms-3">
    <button class="btn btn-primary" @onclick="Navigate">@L["changePassword"]</button>
</span>

@code {
    private void Navigate()
    {
        NavigationManager.NavigateTo("/change-password");
    }
}
